	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	top: 0;
	background-color: white;
	}

	li {
		float: left;

	}
	/**tamaño de la barra**/
	li a, .submenu{
		display: inline-block;
		color: black;
		text-align: center;
		padding: 10px 16px;
		text-decoration: none;
	}
	li a:hover{
			background-color: black;
			color: white;
	}
	
	li.submenu  {
		display: inline-block;
	}

	.submenu-content {
		display: none;
		position: absolute;
		background-color: black;
		min-width: 160px;
		box-shadow: green;
		z-index: 1;
	}
	.submenu-content a {
		 color: white;
		 padding: 12px 16px;
		 text-decoration: none;
		 display: block;
		 text-align: left;
	}
	
	.submenu-content a:hover  {
		background-color: gray;
		color: white;
	}

	.submenu:hover .submenu-content {
 	 display: block;
	}
	
	div.gallery {
		margin: 5px;
		border: 1px white;
		float: left;
		width: 180px; 
	}	

	div.gallery:hover {
	  border: 1px white;
	}

	div.gallery img {
	  width: 100%;
	  height: auto;
	}

	div.desc {
	  padding: 4px;
	  text-align: center;
	}

	* {
  	box-sizing: border-box;
	}
	.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
/**
@media only screen axnd (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}**/
	.clearfix:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	h2 {
		color: white;
		text-align: center;
		font-size: 5vw;
		font-style: italic;
	}
	div {
		color: white;
		text-align: center;

	}

	p {
		color: white;
		text-align: justify;
		font-size: 3vw;
	}

	label, legend {
		color: white;
	}

